@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Products";

}
@if (ViewBag.producDeleted== true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Product Deleted!!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

<div class="container">
    <div class="row">
        @foreach (var products in Model)
        {               
            <div class="card" style="width: 18rem; padding:10px;">
                    <img src="@products.ProductImageUrl" class="card-img-top" alt="product image">
                    <div class="card-body">                       
                        <h5 class="card-title">@products.ProductName</h5>                        
                        <a href="@products.ProductLink" class="btn btn-primary" target="_blank">Buy</a>
                        @if (ViewBag.isDeleteEnable == true)
                        {
                                <input type="submit" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("DeleteProduct", "Product", new { Id = @products.ProductId })'" />

                        }
                    </div>
            </div>  
            
        }
    </div>  
</div>


